@media screen and (max-width:431px) {
    .login_float{
        height: 500px;
    }
    
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* color: grey; */
    
}
.main{
    height: 100vh;
    background:linear-gradient(45deg,cyan,rgb(213,9,111));
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login_float{
    height: 70vh;
    width: 30vw;
    background-color: white;   
    text-align: center;
    border-radius: 5px;
color: grey;
}
h1{
    padding-top: 10px;
    color:black;
}

#a{
    padding-top: 10px;
}

#log_bt{
    padding-top: 40px;
}

p{
    padding-top: 15px;
    padding-right: 47%;
    padding-bottom: 10px;
}

h3{
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: medium;
}

#bottom{
    padding-top: 60px;
    color: grey;
    /* background-color: red;     */
}


input{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    width: 17vw;
    height: 4vh;
    
    /* background-color: black; */
    /* color: white;    */
}

.other{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 3px;
}

a{
    padding-left: 30%;
    text-decoration: none;
    color: gray;
}

.login_button{
    background:linear-gradient(45deg,cyan,rgb(213, 9, 111));
    border: 0;
    color: white;
    width:20vw;
    border-radius: 50px;
    height: 4vh;
}

.login_button:hover{
background-color: red;
}

#sign_bt{
    border:0;
    font-size: 15px;
    width: 10vw;
    color: grey;
}

#sign_bt:hover{
    background-color: red;
}